# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules
.pnp
.pnp.js

# Build output
dist
dist-ssr

# Local env files
*.local
.env
.env.*

# Editor
.vscode/*
!.vscode/settings.json
.idea

# OS
.DS_Store
Thumbs.db
